* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder { color: #fff;text-transform: uppercase;}
:-moz-placeholder { color: #fff;text-transform: uppercase;}
::-moz-placeholder { color: #fff;text-transform: uppercase;}
:-ms-input-placeholder { color: #fff;text-transform: uppercase;}

.cf:before, .cf:after { content: " "; display: table;}
.cf:after {clear: both;}
.cf { *zoom: 1;}


body {
  width: 300px;
  overflow-x: hidden;
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
}

.content {
  padding: 10px;
}

h1 {
  color: #494949;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.1;
  margin: 10px 0 15px;
  text-align: center;
  width: 100%;
}



ul.list {
  list-style-type:none;
  margin: 0px;
  padding: 0px;
  max-height: 350px;
  overflow: auto;
}

ul.list li {
  background-color: #fbfbfb;
  padding: 10px;
  border: 1px solid #ededed;
  margin-bottom: 10px;
  position: relative;
}

#header{
  padding: 10px;
  background: #494949;
}

#header #menu {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: right;
  line-height: 43px;
  vertical-align: middle;
  float:right;
}

#header #menu li {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.answer ul.values {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0px;
  display: inline-block;
  width: 100%;
}

.answer ul.values li{
  margin: 0px;
  padding: 0px;
  float: left;
  width: 20%;
}

.answer ul.values li a {
  border-radius: 50%;
  height: 50px;
  line-height: 53px;
  padding: 0;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  width: 50px;
  display: inline-block;
  position: relative;
}

.answer ul.values li a:hover {
  box-shadow: #ccc 0 0 0 2px;
}

.selected_value {
  box-shadow: #888 0 0 0 2px;
}

.value_0 {
  background: #c0392b;
}

.value_0:after,
.value_25:after,
.value_50:after,
.value_75:after,
.value_100:after {
  display: block;
  position: absolute;
  bottom: -37px;
  left: 0;
  width: 50px;
  text-align: center;
  color: #666;
  font-size: 10px;
}

.value_0:after {content: "Very Bad";}
.value_25:after {content: "Neutral";}
.value_50:after {content: "Good";}
.value_75:after {content: "Good";}
.value_100:after {content: "Very Good";}

.value_25 {background: #d35400;}
.value_50 {background: #e67e22;}
.value_75 {background: #f39c12;}
.value_100 {background: #f1c40f;}

#loading {
  display: none;
  font-style: italic;
  font-size: 14px;
  color: #999;
  position: absolute;
  top: 5px;
  left:10px;
}




/* ------ */

.alert {
  background: #1abc9c;
  color: #fff;
  text-align: center;
  margin: 0 10px;
  border-radius: 3px;
  line-height: 30px;
  display: none;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li {
  width: 100%;
  margin: 0 0 10px;
}

form li:last-child {
  margin-bottom: 20px;
  text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 3px;
  background: #95a5a6;
  color: #fff;
}

form textarea {
  resize: none;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus {
  background: #7f8c8d;
}

form input[type="submit"] {
  background: #f39c12;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  padding: 0 30px;
  line-height: 30px;
  border: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2ms ease;
  -moz-transition: all .2ms ease;
  -ms-transition: all .2ms ease;
  -o-transition: all .2ms ease;
  transition: all .2ms ease;
}

form input[type="submit"]:hover {
  background: #d35400;
}


#menu {
  margin: 0;
  padding: 5px 0;
  text-align: right;
}

#menu li {
  display: inline-block;
  margin-right: 10px;
}

#menu a {
  color: #d35400;
  outline: none;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.list a {
  color: #494949;
  outline: none;
}

#menu a:hover,
.list a:hover {
  color: #d35400;
}

.answer textarea {
  height: 80px;
}
